//Cores
$cor-primaria:#ff6b81;
$cor-secundaria:#333333;
$cor-branco:#FFFFFF;
$cinza-claro:#EFEFEF;




//Medidas
$padding-container:15px 30px;

//Medidas para position:fixed/absolute
$padding-x-rigth-padrao:30px;
$padding-x-left-padrao:30px;

$padding-y-bottom-padrao:30px;